.firstDiv{
    color: blue;
}

.secondDiv{
    color: red;
}

#singleout{
    color: green;
    text-decoration: line-through;
}

h3 + ul{
    border: 4px solid purple;
}

li a{
    color: red;
}

li a[href="http://foxnews.com"]{
    color: blue;
    border: 1px solid orange;
}