body{
    font-family: 'Roboto', sans-serif;
    background-color: #080808;
    color: white;
    text-align: center;
    border-width: 0 50px 50px;
    border-color: #21ede3;
    border-style: solid;
    padding: 0px 100px;
}

#welcome{
    margin-bottom: 100px;
}

#one{
    margin-bottom: 50px;
}

#btn{
    background-color: #f7d528;
    text-align: center;
    border-radius: 12px;
    width: 100px;
    height: 50px;
    margin: 8px 0;
}

.form{
    display: inline-block;
    text-align: center;
}

form{
    width: 50%;
    display: inline-block;
}

input[type=text]{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
}

input[type=email]{
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
}
