#top{
   border: 4px solid blue;
    width: 25%;
    text-align: center;
    /*top,right,bottom,left*/
    margin: 10px auto;
}

#bottom{
    border: 4px solid red;
    padding: 200px;
    text-align: center;
}