h1{
    font-family: 'Permanent Marker', cursive;
}

body{
    text-align: center;
}

table{
    margin: 0 auto;
}
td{
    height: 300px;
    width: 100px;
    border: 6px solid white;
}

#first{
    background-color: #3D5A80;
}

#second{
    background-color: #98C1D9;
}

#third{
    background-color: #E0FBFC;
}

#fourth{
    background-color: #EE6C4D;
}

#fifth{
    background-color: #293241;
}

